# 11 â€” HLLSet Relational Algebra Engine

**The relational algebra homomorphism in action.**

This notebook demonstrates the **HLLSet Relational Algebra Engine** â€” a zero-data-access
analytics layer that answers relational queries using only pre-computed HLLSet fingerprints.

### Homomorphism
```
SQL / Relational Algebra  â”€â”€Ï†â”€â”€â–¶  HLLSet Operations
```

| SQL Concept | HLLSet Operation | Complexity |
|---|---|---|
| `COUNT(DISTINCT col)` | `Cardinality(Load(t, col))` | O(m) |
| `UNION` | `Union(A, B)` = bitwise OR | O(m) |
| `INTERSECT` | `Intersect(A, B)` = bitwise AND | O(m) |
| `EXCEPT` | `Diff(A, B)` = bitwise AND-NOT | O(m) |
| `WHERE col IN (â€¦)` | `Intersect(Load, FromBatch)` | O(m) |
| `JOIN` size | `selectivity Ã— row_count` | O(m) |
| FK discovery | Containment â‰ˆ 1.0 | O(mÂ²) |

All operations run in **O(m) time** with **zero raw-data access** after ingestion.

In [1]:
from core.algebra import HLLCatalog, RelAlgebra, QueryResult
import json

## 1. Ingest â€” Build the Shadow Database

Read every column once, convert distinct values to HLLSets.
After this cell, **zero data access** â€” everything comes from fingerprints.

In [2]:
catalog = HLLCatalog.from_duckdb('/home/alexmy/SGS/SGS_lib/hllset_manifold/data/finance_data.duckdb', p_bits=14)
ra = RelAlgebra(catalog)
print()
print(catalog.summary())

Ingesting 6 tables from finance_data.duckdb (P=14, m=16384)
  fdic_failed_banklist                           540 rows    7 cols  â†’ |table|â‰ˆ2102
  investment_company_series_class             41,283 rows   20 cols  â†’ |table|â‰ˆ112536
  nfl_offensive_player_stats_1999_2013         4,625 rows   26 cols  â†’ |table|â‰ˆ15989
  public_company_bankruptcy_cases                129 rows    5 cols  â†’ |table|â‰ˆ390
  subprime_2006_distributed                      210 rows    5 cols  â†’ |table|â‰ˆ612
  top_teams_payroll                              294 rows    9 cols  â†’ |table|â‰ˆ1579
Catalog ready: 6 tables, 72 columns

HLLCatalog: finance_data  (P=14)
  Tables: 6  Columns: 72
  fdic_failed_banklist                           540 rows    7 cols  |table|â‰ˆ2102
    Bank_Name                             VARCHAR       distinct=     524  |hll|â‰ˆ     521
    City                                  VARCHAR       distinct=     417  |hll|â‰ˆ     407
    ST                                    VARCHAR       distinct=      44  |hll|â‰ˆ      43
    CERT                                  BIGINT        distinct=     540  |hll|â‰ˆ     532
    Acquiring_Institution                 VARCHAR       distinct=     284  |hll|â‰ˆ     279
    Closing_Date                          VARCHAR       distinct=     237  |hll|â‰ˆ     234
    Updated_Date                          VARCHAR       distinct=     103  |hll|â‰ˆ     101
  investment_company_series_class             41,283 rows   20 cols  |table|â‰ˆ112536
    Reporting File Number                 VARCHAR       distinct=   2,358  |hll|â‰ˆ   2,338
    CIK Number                            VARCHAR       distinct=   2,358  |hll|â‰ˆ   2,366
    Name of Investment Company            VARCHAR       distinct=   2,357  |hll|â‰ˆ   2,352
    Organization Type                     BIGINT        distinct=       6  |hll|â‰ˆ       6
    Series ID                             VARCHAR       distinct=  14,240  |hll|â‰ˆ  14,071
    Series Name                           VARCHAR       distinct=  13,851  |hll|â‰ˆ  13,750
    Class ID                              VARCHAR       distinct=  41,283  |hll|â‰ˆ  41,157
    Class Name                            VARCHAR       distinct=  12,437  |hll|â‰ˆ  12,432
    Class Ticker                          VARCHAR       distinct=  27,214  |hll|â‰ˆ  27,527
    Address_1                             VARCHAR       distinct=     866  |hll|â‰ˆ     852
    Address_2                             VARCHAR       distinct=     410  |hll|â‰ˆ     403
    City                                  VARCHAR       distinct=     257  |hll|â‰ˆ     258
    State                                 VARCHAR       distinct=      50  |hll|â‰ˆ      51
    Zip Code                              VARCHAR       distinct=     488  |hll|â‰ˆ     492
    column14                              VARCHAR       distinct=       0  |hll|â‰ˆ       0
    column15                              BIGINT        distinct=       5  |hll|â‰ˆ       5
    column16                              VARCHAR       distinct=       0  |hll|â‰ˆ       0
    column17                              VARCHAR       distinct=       0  |hll|â‰ˆ       0
    column18                              VARCHAR       distinct=       0  |hll|â‰ˆ       0
    column19                              VARCHAR       distinct=       0  |hll|â‰ˆ       0
  nfl_offensive_player_stats_1999_2013         4,625 rows   26 cols  |table|â‰ˆ15989
    id                                    BIGINT        distinct=   4,625  |hll|â‰ˆ   4,663
    Year                                  BIGINT        distinct=      16  |hll|â‰ˆ      16
    Name                                  VARCHAR       distinct=   4,564  |hll|â‰ˆ   4,637
    Position                              VARCHAR       distinct=      20  |hll|â‰ˆ      20
    HeightFeet                            BIGINT        distinct=       2  |hll|â‰ˆ       2
    HeightInches                          DOUBLE        distinct=      40  |hll|â‰ˆ      40
    Weight                                BIGINT        distinct=     205  |hll|â‰ˆ     205
    Arms                                  DOUBLE        distinct=      69  |hll|â‰ˆ      67
    Hands                                 DOUBLE        distinct=      30  |hll|â‰ˆ      29
    FortyYD                               DOUBLE        distinct=     160  |hll|â‰ˆ     159
    TwentyYD                              DOUBLE        distinct=      36  |hll|â‰ˆ      37
    TenYD                                 DOUBLE        distinct=      48  |hll|â‰ˆ      46
    TwentySS                              DOUBLE        distinct=     152  |hll|â‰ˆ     151
    ThreeCone                             DOUBLE        distinct=     166  |hll|â‰ˆ     160
    Vertical                              DOUBLE        distinct=      53  |hll|â‰ˆ      52
    Broad                                 BIGINT        distinct=      58  |hll|â‰ˆ      61
    Bench                                 BIGINT        distinct=      47  |hll|â‰ˆ      49
    Round                                 BIGINT        distinct=       8  |hll|â‰ˆ       9
    College                               VARCHAR       distinct=     272  |hll|â‰ˆ     270
    Pick                                  VARCHAR       distinct=   1,301  |hll|â‰ˆ   1,305
    PickRound                             BIGINT        distinct=      54  |hll|â‰ˆ      56
    PickTotal                             BIGINT        distinct=     261  |hll|â‰ˆ     267
    FirstName                             VARCHAR       distinct=   1,556  |hll|â‰ˆ   1,558
    LastName                              VARCHAR       distinct=   2,535  |hll|â‰ˆ   2,522
    HeightInchesTotal                     DOUBLE        distinct=      46  |hll|â‰ˆ      47
    Wonderlic                             BIGINT        distinct=      38  |hll|â‰ˆ      40
  public_company_bankruptcy_cases                129 rows    5 cols  |table|â‰ˆ390
    DISTRICT                              VARCHAR       distinct=       9  |hll|â‰ˆ       9
    STATE                                 VARCHAR       distinct=      26  |hll|â‰ˆ      27
    COMPANY_NAME                          VARCHAR       distinct=     129  |hll|â‰ˆ     124
    ASSETS_MILLIONS                       DOUBLE        distinct=     121  |hll|â‰ˆ     120
    LIABILITIES_MILLIONS                  DOUBLE        distinct=     124  |hll|â‰ˆ     122
  subprime_2006_distributed                      210 rows    5 cols  |table|â‰ˆ612
    IDD                                   VARCHAR       distinct=     210  |hll|â‰ˆ     209
    CODE                                  BIGINT        distinct=       5  |hll|â‰ˆ       6
    ID                                    VARCHAR       distinct=     210  |hll|â‰ˆ     208
    MH                                    BIGINT        distinct=       1  |hll|â‰ˆ       1
    NAME                                  VARCHAR       distinct=     195  |hll|â‰ˆ     189
  top_teams_payroll                              294 rows    9 cols  |table|â‰ˆ1579
    rank                                  BIGINT        distinct=     294  |hll|â‰ˆ     298
    last_year_rank                        VARCHAR       distinct=     267  |hll|â‰ˆ     270
    team_league                           VARCHAR       distinct=     294  |hll|â‰ˆ     297
    avg_annual_pay_per_player             VARCHAR       distinct=     292  |hll|â‰ˆ     284
    pct_chg_from_last_year                VARCHAR       distinct=     197  |hll|â‰ˆ     198
    total_payroll                         VARCHAR       distinct=     289  |hll|â‰ˆ     285
    rank_of_total_payroll                 BIGINT        distinct=     294  |hll|â‰ˆ     298
    avg_player_5_yr_earnings              VARCHAR       distinct=     199  |hll|â‰ˆ     196
    pct_chg_last_five_yrs                 VARCHAR       distinct=     114  |hll|â‰ˆ     116

## 2. COUNT DISTINCT â€” The Fundamental Operation

```sql
SELECT COUNT(DISTINCT col) FROM table
```
Maps to: `Cardinality(Load(table, column))`

In [3]:
# Bank names
r = ra.count_distinct('fdic_failed_banklist', 'Bank_Name')
print(f"{r}")
print(f"  Exact: {r.details['exact_distinct']:,}  HLL: {r.estimate:,.0f}")
print(f"  Error: {abs(r.estimate - r.details['exact_distinct'])/r.details['exact_distinct']*100:.1f}%")
print()

# Investment company classes (large cardinality)
r = ra.count_distinct('investment_company_series_class', 'Class ID')
print(f"{r}")
print(f"  Exact: {r.details['exact_distinct']:,}  HLL: {r.estimate:,.0f}")
print(f"  Error: {abs(r.estimate - r.details['exact_distinct'])/r.details['exact_distinct']*100:.1f}%")
print()

# NFL players  
r = ra.count_distinct('nfl_offensive_player_stats_1999_2013', 'Name')
print(f"{r}")
print(f"  Exact: {r.details['exact_distinct']:,}  HLL: {r.estimate:,.0f}")
print(f"  Error: {abs(r.estimate - r.details['exact_distinct'])/r.details['exact_distinct']*100:.1f}%")

QueryResult(COUNT(DISTINCT fdic_failed_banklist.Bank_Name): â‰ˆ521 Â±1.6%)
  Exact: 524  HLL: 521
  Error: 0.6%

QueryResult(COUNT(DISTINCT investment_company_series_class.Class ID): â‰ˆ41,157 Â±1.6%)
  Exact: 41,283  HLL: 41,157
  Error: 0.3%

QueryResult(COUNT(DISTINCT nfl_offensive_player_stats_1999_2013.Name): â‰ˆ4,637 Â±1.6%)
  Exact: 4,564  HLL: 4,637
  Error: 1.6%

## 3. UNION â€” Combine Value Domains

```sql
SELECT DISTINCT ST FROM fdic_failed_banklist
UNION
SELECT DISTINCT State FROM investment_company_series_class
```
Maps to: `Union(Load(t1, col1), Load(t2, col2))` = bitwise OR

In [4]:
r = ra.union('fdic_failed_banklist', 'ST',
             'investment_company_series_class', 'State')
print(f"{r}")
print(f"  Failed banks states:     {r.details['left_card']:.0f}")
print(f"  Investment co. states:   {r.details['right_card']:.0f}")
print(f"  Combined unique states:  {r.estimate:.0f}")

QueryResult(UNION(fdic_failed_banklist.ST, investment_company_series_class.State): â‰ˆ56 Â±1.6%)
  Failed banks states:     43
  Investment co. states:   51
  Combined unique states:  56

## 4. INTERSECTION â€” Find Shared Values

```sql
SELECT DISTINCT a.ST FROM fdic_failed_banklist a
INNER JOIN investment_company_series_class b ON a.ST = b.State
```
Maps to: `Intersect(Load(t1, col1), Load(t2, col2))` = bitwise AND

In [5]:
# States in common
r = ra.intersect('fdic_failed_banklist', 'ST',
                 'investment_company_series_class', 'State')
print(f"States in common: â‰ˆ{r.estimate:.0f}")
print()

# Cities in common
r = ra.intersect('fdic_failed_banklist', 'City',
                 'investment_company_series_class', 'City')
print(f"Cities in common: â‰ˆ{r.estimate:.0f}")
print("  (Very few cities overlap between failed banks and investment companies)")

States in common: â‰ˆ39

Cities in common: â‰ˆ1
  (Very few cities overlap between failed banks and investment companies)

## 5. Jaccard Similarity & Containment

**Jaccard** = |A âˆ© B| / |A âˆª B|  â†’  Domain overlap measure  
**Containment** = |A âˆ© B| / |A|  â†’  Foreign key indicator

In [6]:
# State similarity (high â€” both use US state codes)
r = ra.jaccard('fdic_failed_banklist', 'ST',
               'investment_company_series_class', 'State')
print(f"State Jaccard:       {r.estimate:.3f}  {'ðŸŸ¢ HIGH' if r.estimate > 0.5 else 'ðŸ”´ LOW'}")

# City similarity (low â€” different cities)
r = ra.jaccard('fdic_failed_banklist', 'City',
               'investment_company_series_class', 'City')
print(f"City Jaccard:        {r.estimate:.3f}  {'ðŸŸ¢ HIGH' if r.estimate > 0.5 else 'ðŸ”´ LOW'}")

# Containment: are all failed-bank states in the investment co. states?
r = ra.containment('fdic_failed_banklist', 'ST',
                   'investment_company_series_class', 'State')
print(f"ST âŠ† State:          {r.estimate:.3f}  {'ðŸŸ¢ CONTAINED' if r.estimate > 0.8 else 'ðŸ”´ PARTIAL'}")

State Jaccard:       0.696  ðŸŸ¢ HIGH
City Jaccard:        0.001  ðŸ”´ LOW
ST âŠ† State:          0.907  ðŸŸ¢ CONTAINED

## 6. JOIN Size Estimation

```sql
SELECT COUNT(*)
FROM fdic_failed_banklist f
JOIN investment_company_series_class i ON f.ST = i.State
```
Maps to: `join_size â‰ˆ left_rows Ã— (overlap / left_distinct)`

In [7]:
r = ra.join_estimate('fdic_failed_banklist', 'ST',
                     'investment_company_series_class', 'State')
print(f"{r}")
print(f"  Left rows:       {r.details['left_rows']:,}")
print(f"  Selectivity:     {r.details['selectivity']}")
print(f"  Estimated join:  {r.estimate:,.0f} rows")

QueryResult(JOIN(fdic_failed_banklist.ST = investment_company_series_class.State): â‰ˆ490 Â±4.8%)
  Left rows:       540
  Selectivity:     0.907
  Estimated join:  490 rows

## 7. WHERE ... IN Selectivity

```sql
SELECT COUNT(*) FROM nfl_stats WHERE Position IN ('QB','WR','RB','TE','K')
```
Maps to: `Cardinality(Intersect(Load(t, col), FromBatch(values)))`

In [8]:
r = ra.selectivity_in('nfl_offensive_player_stats_1999_2013', 'Position',
                      ['QB', 'WR', 'RB', 'TE', 'K'])
print(f"{r}")
print(f"  Matching values:   {r.details['matching_distinct']:.0f} of {r.details['column_distinct']:.0f}")
print(f"  Selectivity:       {r.details['selectivity']:.3f}")
print(f"  Estimated rows:    {r.estimate:,.0f}")
print()

# Specific states for failed banks
r = ra.selectivity_in('fdic_failed_banklist', 'ST',
                      ['CA', 'NY', 'TX', 'FL'])
print(f"{r}")
print(f"  Selectivity: {r.details['selectivity']:.3f}  â†’ ~{r.estimate:.0f} rows")

QueryResult(SELECT FROM nfl_offensive_player_stats_1999_2013 WHERE Position IN (5 values): â‰ˆ1,156 Â±4.8%)
  Matching values:   5 of 20
  Selectivity:       0.250
  Estimated rows:    1,156

QueryResult(SELECT FROM fdic_failed_banklist WHERE ST IN (4 values): â‰ˆ63 Â±4.8%)
  Selectivity: 0.116  â†’ ~63 rows

## 8. Inclusion-Exclusion Identity Verification

The fundamental set identity: **|A âˆª B| = |A| + |B| âˆ’ |A âˆ© B|**

If our HLLSet operations are consistent, the residual should be near zero.

In [9]:
r = ra.inclusion_exclusion('fdic_failed_banklist', 'ST',
                           'investment_company_series_class', 'State')
d = r.details
print(f"  |A|         = {d['|A|']}")
print(f"  |B|         = {d['|B|']}")
print(f"  |A âˆª B|     = {d['|AâˆªB|']}")
print(f"  |A âˆ© B|     = {d['|Aâˆ©B|']}")
print(f"  |A|+|B|-|Aâˆ©B| = {d['|A|+|B|-|Aâˆ©B|']}")
print(f"  Residual    = {d['residual']} ({d['residual_pct']}%)")
print(f"  {'âœ… CONSISTENT' if d['residual_pct'] < 5 else 'âš ï¸  CHECK'}")

  |A|         = 43
  |B|         = 51
  |A âˆª B|     = 56
  |A âˆ© B|     = 39
  |A|+|B|-|Aâˆ©B| = 55
  Residual    = 1 (1.79%)
  âœ… CONSISTENT

## 9. Foreign Key Discovery

Scan all cross-table column pairs.  
If **Containment(A, B) â‰ˆ 1.0**, then A is likely a foreign key referencing B.

In [10]:
fks = ra.discover_foreign_keys(threshold=0.8)
print(f"FK candidates (containment â‰¥ 0.8):  {len(fks)}")
print()
for fk in fks[:20]:
    print(f"  {fk['from']:50s} â†’ {fk['to']:50s}  C={fk['containment']:.2f}")

FK candidates (containment â‰¥ 0.8):  45

  investment_company_series_class.Organization Type  â†’ nfl_offensive_player_stats_1999_2013.PickTotal      C=1.00
  investment_company_series_class.Organization Type  â†’ top_teams_payroll.last_year_rank                    C=1.00
  investment_company_series_class.Organization Type  â†’ top_teams_payroll.rank                              C=1.00
  investment_company_series_class.Organization Type  â†’ top_teams_payroll.rank_of_total_payroll             C=1.00
  nfl_offensive_player_stats_1999_2013.HeightFeet    â†’ top_teams_payroll.last_year_rank                    C=1.00
  nfl_offensive_player_stats_1999_2013.HeightFeet    â†’ top_teams_payroll.pct_chg_from_last_year            C=1.00
  nfl_offensive_player_stats_1999_2013.HeightFeet    â†’ top_teams_payroll.pct_chg_last_five_yrs             C=1.00
  nfl_offensive_player_stats_1999_2013.HeightFeet    â†’ top_teams_payroll.rank                              C=1.00
  nfl_offensive_player_stats_1999_2013.HeightFeet    â†’ top_teams_payroll.rank_of_total_payroll             C=1.00
  subprime_2006_distributed.CODE                     â†’ nfl_offensive_player_stats_1999_2013.PickRound      C=1.00
  subprime_2006_distributed.CODE                     â†’ nfl_offensive_player_stats_1999_2013.PickTotal      C=1.00
  subprime_2006_distributed.CODE                     â†’ nfl_offensive_player_stats_1999_2013.Round          C=1.00
  nfl_offensive_player_stats_1999_2013.Round         â†’ top_teams_payroll.pct_chg_last_five_yrs             C=1.00
  subprime_2006_distributed.CODE                     â†’ top_teams_payroll.last_year_rank                    C=1.00
  subprime_2006_distributed.CODE                     â†’ top_teams_payroll.pct_chg_last_five_yrs             C=1.00
  subprime_2006_distributed.CODE                     â†’ top_teams_payroll.rank                              C=1.00
  subprime_2006_distributed.CODE                     â†’ top_teams_payroll.rank_of_total_payroll             C=1.00
  nfl_offensive_player_stats_1999_2013.PickTotal     â†’ top_teams_payroll.rank                              C=1.00
  nfl_offensive_player_stats_1999_2013.PickTotal     â†’ top_teams_payroll.rank_of_total_payroll             C=1.00
  nfl_offensive_player_stats_1999_2013.PickRound     â†’ top_teams_payroll.last_year_rank                    C=0.98

## 10. Database Summary â€” Analytics from Fingerprints Alone

A complete database profile using **zero raw-data access**.

In [11]:
summary = ra.database_summary()

print(f"Database:             {summary['database']}")
print(f"HLL Precision:        P={summary['precision']}  (SE={summary['standard_error']})")
print(f"Tables:               {summary['tables']}")
print(f"Columns:              {summary['columns']}")
print(f"Total rows:           {summary['total_rows']:,}")
print(f"Universe cardinality: {summary['universe_cardinality']:,}")
print()
print("Per-table:")
for name, tbl in summary['per_table'].items():
    print(f"  {name:45s}  {tbl['rows']:>8,} rows  {tbl['columns']:>3} cols  "
          f"|table|â‰ˆ{tbl['hll_cardinality']:>6,}")

Database:             finance_data
HLL Precision:        P=14  (SE=0.81%)
Tables:               6
Columns:              72
Total rows:           47,081
Universe cardinality: 132,146

Per-table:
  fdic_failed_banklist                                540 rows    7 cols  |table|â‰ˆ 2,102
  investment_company_series_class                  41,283 rows   20 cols  |table|â‰ˆ112,536
  nfl_offensive_player_stats_1999_2013              4,625 rows   26 cols  |table|â‰ˆ15,989
  public_company_bankruptcy_cases                     129 rows    5 cols  |table|â‰ˆ   390
  subprime_2006_distributed                           210 rows    5 cols  |table|â‰ˆ   612
  top_teams_payroll                                   294 rows    9 cols  |table|â‰ˆ 1,579

## 11. Persistence â€” Save & Reload

Catalog persists as **metadata JSON + per-column Roaring blobs**.  
Reload is instant â€” no database access needed.

In [12]:
# Save
catalog.save('data/finance_catalog')
print()

# Reload
cat2 = HLLCatalog.load('data/finance_catalog')
ra2 = RelAlgebra(cat2)
print()

# Verify bit-exact
r1 = ra.count_distinct('fdic_failed_banklist', 'Bank_Name')
r2 = ra2.count_distinct('fdic_failed_banklist', 'Bank_Name')
print(f"Original: {r1.estimate:.0f}  Restored: {r2.estimate:.0f}  Match: {r1.estimate == r2.estimate}")

r1 = ra.jaccard('fdic_failed_banklist', 'ST', 'investment_company_series_class', 'State')
r2 = ra2.jaccard('fdic_failed_banklist', 'ST', 'investment_company_series_class', 'State')
print(f"Jaccard:  {r1.estimate:.4f}  Restored: {r2.estimate:.4f}  Match: {r1.estimate == r2.estimate}")
print()
print('âœ… Bit-exact round-trip verified')

Catalog saved to data/finance_catalog/  (72 column blobs)

Catalog loaded from data/finance_catalog/  (6 tables, 72 columns)

Original: 521  Restored: 521  Match: True
Jaccard:  0.6964  Restored: 0.6964  Match: True

âœ… Bit-exact round-trip verified

## 12. Composition â€” Chained Operations

HLLSets are **composable**: the output of any operation is itself an HLLSet that can feed into the next.

This demonstrates the algebra's closure property.

In [13]:
# Chain: (FDIC States âˆ© Investment States) âˆª (Bankruptcy States)
result_hll = ra.compose(
    ('intersect', 'fdic_failed_banklist.ST', 'investment_company_series_class.State'),
    ('union', None, 'public_company_bankruptcy_cases.STATE'),
)
print(f"(FDIC_ST âˆ© Inv_State) âˆª Bankrupt_STATE  â†’  |result| â‰ˆ {result_hll.cardinality():.0f}")
print(f"Result HLLSet name: {result_hll.short_name}  (composable for further ops)")

(FDIC_ST âˆ© Inv_State) âˆª Bankrupt_STATE  â†’  |result| â‰ˆ 43
Result HLLSet name: 924f6880  (composable for further ops)

---

## Summary

The **HLLSet Relational Algebra Engine** provides:

| Feature | Status |
|---|---|
| COUNT DISTINCT | âœ… O(m), <1% error at P=14 |
| UNION | âœ… bitwise OR, safe (max error) |
| INTERSECT | âœ… bitwise AND, compounds ~3Ã— per op |
| EXCEPT | âœ… bitwise AND-NOT |
| JOIN estimation | âœ… selectivity-based |
| WHERE IN | âœ… transient FromBatch |
| FK discovery | âœ… containment scan |
| Persistence | âœ… JSON + Roaring blobs |
| Composition | âœ… closure over HLLSet |
| Zero data access | âœ… after ingestion |

**Standard error at P=14**: 0.81% per operation  
**Memory**: 16,384 registers Ã— 4 bytes = **64 KB per column**  
**Privacy**: After `HLLCatalog.from_duckdb()`, raw data is never touched again